<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Intrepits Styles</title>

	<link rel="stylesheet" href="css/intrepits.css">
</head>
<body>
	
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="display-3 text-xs-center">Guía de Marca</h1>
					<p class="lead text-xs-center">Esta página pretende ser una guía de estilos para la marca de Intrepits</p>
				</div>
			</div>
		</div>
	</div>

	{% include '_brand.html' %}
	{% include '_typography.html' %}
	{% include '_buttons.html' %}
</body>
</html>